ENV=debug
TZ=Asia/Ho_Chi_Minh
OKOS_TOKEN=your_access_token_here
OKOS_ADMIN_USERNAME=your_telegram_username

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
# Leave blank to use polling mode
TELEGRAM_WEBHOOK_URL=

# Model Provider (openai, google, or groq)
MODEL_PROVIDER=openai
MODEL_VISION_PROVIDER=openai # Optional, override for vision, if not, fallback to MODEL_PROVIDER
MODEL_UTILITY_PROVIDER=openai # Optional, override for tool, if not, fallback to MODEL_PROVIDER

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=
OPENAI_MODEL_NAME=gpt-4o
OPENAI_UTILITY_MODEL_NAME=gpt-4o-mini
OPENAI_VISION_MODEL_NAME=gpt-4o

# Google Configuration
GOOGLE_API_KEY=your_google_api_key
GOOGLE_MODEL_NAME=gemini-1.5-flash
GOOGLE_UTILITY_MODEL_NAME=gemini-1.5-flash-8b
GOOGLE_VISION_MODEL_NAME=gemini-1.5-flash

# Groq Configuration
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL_NAME=gemma2-9b-it
GROQ_UTILITY_MODEL_NAME=llama-3.1-8b-instant
GROQ_VISION_MODEL_NAME=llama-3.2-90b-vision-preview

# Redis Configuration
REDIS_URL=redis://localhost:6379

# WooCommerce MCP
WOOCOMMERCE_MCP_BASE_URL=http://mag-service:3000/mcp/woo-mcp
WOOCOMMERCE_MCP_TOKEN=
WOOCOMMERCE_MCP_VALIDATE_ON_STARTUP=false

# Optional LangSmith Configuration
# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
# LANGCHAIN_API_KEY=your_langsmith_api_key
# LANGCHAIN_PROJECT=your_project_name
